@charset "utf-8";
/* CSS Document */

*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}

#PistaDeCarrera {
    background: url(../img/carretera.jpg) bottom left repeat-x;
    height: 430px;
    /*border-right: dashed 10px white;*/
    box-sizing: border-box;
    margin-top: -30;
    /*margin: 40px 0;*/ 
}

.header{
    border-bottom: solid;
    background: url(../img/wallpaper.jfif);
    background-size: contain;
    height: 350px;
}

.header > img {
    height: 150px;
    margin-top: 150px;
    margin-right: 600px;
    /*position: relative;*/

}

/*Dado que vamos a usar jQuery para manipular los coches necesitamos dejar su posicion en relative para poder acceder a la propiedad left*/
.Car {
    display: block;
    position: relative;
}

/*para poder mover los coches a lo largo de la pista necesitamos alterar la propiedad top, para lo cual hemos fijado antes relative en la posición*/

#Car1 {
    top: 60px;
}
#Car2 {
    top: 70px;
}
#Car3 {
    top: 80px;
}
#Car4 {
    top: 85px;
}
#Car5 {
    top: 90px;
}
#Car6 {
    top: 100px;
}
#Car7 {
    top: 110px;
}
#Car8 {
    top: 120px;
}
#Car9 {
    top: 130px;
}
#InfoCarrera {
    width: 80%;
    margin: 40px auto 0;
    background: #333;
    height: 200px;
}
#InfoCarrera h2 {
    color: white;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    padding: 20px 0;
}
.InfoCarrera {
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}
.InfoCarrera span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}
#InfoCarrera1 {
    color: #77B82f;
}
#InfoCarrera2 {
    color: #B82F3E;
}

input[type="button"] {
    background: transparent;
    color: white;
    padding: 10px 50px;
    border: solid 1px #444;
}

#Start {
    margin-top: -115px;
    margin-right: 600px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
}

#reset {
    margin-top: -87px;
    margin-right: 600px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
}

.nParticipantes{
    margin-top: -510px;
    margin-left: -470px;
}

input#Reset {
    background: transparent;
    color: #444;
}
#InfoCarrera:after {
    content: "";
    display: table;
    clear: both;
}

.resultados {

width: 300px;

margin-left: 900px;

margin-top: -150px;

}